.calculator {
    width: 200px;
    border: 1px solid #990a22;
    padding: 10px;
    margin: 0 auto;
}

.calculator input {
    width: 100%;
    margin-bottom: 5px;
    text-align: right;
    padding: 5px;
    font-size: 18px;
}

.calculator button {
    width: 40px;
    height: 40px;
    font-size: 18px;
    margin: 2px;
    cursor: pointer;
    background-color: #8f3737;
    border: 1px solid #0faa36;
    border-radius: 5px;
}

.row {
    display: flex;
}

/* Hover effect on buttons */
button:hover {
    background-color: #711f1f;
}